<div class="ascii-map-container">
    <div class="ascii-map">⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣀⣀⢠⣤⣤⣶⣶⣶⣦⣶⣶⣶⣶⣰⣿⢰⣿⣿⣿⣶⣶⣶⣶⣶⣶⣤⣤⡄⣠⣀⣀⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣀⣠⣤⡄⣶⣾⣿⣿⣿⣿⡜⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣧⣤⢸⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⢱⣿⣿⣿⣿⣿⡇⣴⣶⣤⣤⣀⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣀⣤⣴⣆⢾⣿⣿⣿⣿⣿⡸⣿⣿⣿⣿⣿⡇⠿⣿⣿⣛⣛⣟⢸⣿⣿⣿⣿⣿⢸⣿⣿⣿⣿⣿⢙⣿⣛⣛⡿⠿⠼⣿⣿⣿⣿⣿⢹⣿⣿⣿⣿⣿⡟⣰⣶⣦⣤⣀⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣠⣄⢶⣿⣿⣿⣿⣿⡜⣿⣿⣿⡿⠿⣃⢻⣽⣿⣷⣶⣷⢸⣿⣿⣿⣿⣿⢼⣿⣿⣿⣿⣿⢸⣿⣿⣿⣿⡟⣿⣿⣿⣿⣿⡇⣿⣷⣶⣿⣯⡍⣝⣛⠿⢿⣿⡿⣱⣿⣿⣿⣿⣿⡟⣴⣦⣄⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣠⣴⣾⣿⣿⣿⣎⢿⣿⣿⣿⠿⣛⡨⣽⣷⣿⣿⣿⡼⣿⣿⣿⣿⣿⡞⣿⣿⣿⣿⣿⡟⣿⣿⣿⣿⣿⢸⣿⣿⣿⣿⡏⣿⣿⣿⣿⣿⢸⣿⣿⣿⣿⡿⣸⣿⣿⣿⣿⣶⢡⣽⣛⡿⢿⣿⡟⣼⣿⣿⣿⣿⣷⢆⣄⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣀⣤⣶⣿⣜⢿⣿⣿⣿⣿⡿⣊⣯⣿⣾⣿⣿⣧⢻⣿⣿⣿⣿⣷⢻⣿⣿⣿⠿⠇⢻⣛⣛⣻⣭⡍⣭⣽⣭⣿⣍⢸⣿⣽⣭⣯⢡⣭⣽⣛⣛⡃⡺⠿⢿⣿⣿⢣⣿⣿⣿⣿⣿⢇⣾⣿⣿⣿⣷⡎⣬⣛⠿⣿⣿⣿⢫⣾⣿⣿⣷⣦⣀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣀⣄⢾⣿⣿⣿⣿⣿⣮⠻⣛⣭⣷⣿⣿⡜⣿⣿⣿⣿⣿⣎⢿⡿⠿⣛⣫⡌⣽⣶⣶⣿⣿⢸⣿⣿⣿⣿⡇⣿⣿⣿⣿⣿⢸⣿⣿⣿⣿⢸⣿⣿⣿⣿⢣⣿⣿⣷⣶⡶⣨⣭⣟⣛⠿⠟⣼⣿⣿⣿⣿⡟⣼⣿⣿⣿⣾⡭⣁⢿⣿⣿⣿⣿⣿⡟⣵⣦⣀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣴⣾⣿⣿⣮⣻⣿⣿⢟⣯⣷⣦⠻⣿⣿⣿⣿⣿⣜⣿⠿⢟⣫⣥⡔⣾⣿⣿⣿⣷⢹⣿⣿⣿⣿⡄⠿⠿⠛⠛⠃⠛⠋⠉⣉⡁⢈⡉⢉⡉⠋⠘⠛⠛⠿⣿⢸⣿⣿⣿⣿⢳⣿⣿⣿⣿⡟⣰⣾⣭⣟⡻⠟⣽⣿⣿⣿⣿⡟⣱⣿⣿⣾⣝⡻⣿⢫⣾⣿⣿⣿⣷⣦⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣠⣦⢻⣿⣿⣿⣿⣿⢗⣉⣾⣿⣿⣿⣿⣷⡹⣿⣿⠿⣋⣥⡴⣿⣿⣿⣿⣿⡹⣿⣿⣿⡿⠏⢛⠛⢋⣉⡄⢰⣶⣶⣿⣦⢹⣿⣿⣿⣇⢸⣿⣿⣿⡇⣾⣿⣷⣶⡆⣬⣉⡉⠝⠋⠾⠿⣿⣿⣿⢱⣿⣿⣿⣿⡿⣴⣾⣭⣛⠿⡟⣼⣿⣿⣿⣿⣿⡿⣠⣝⡻⣿⣿⣿⣿⢟⣴⣶⣄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣰⣾⣿⣿⣷⣝⢿⢟⣫⣾⣿⣿⣮⢻⣿⣿⣿⡿⣓⡈⣶⣿⣿⣿⣿⡜⣿⣿⣿⠿⣃⢩⣽⣶⠟⢂⢠⣶⣿⣿⣿⠸⣿⣿⣿⣿⢸⣿⣿⣿⡇⢼⣿⣿⣿⠇⣿⣿⣿⣿⢰⣿⣿⣿⣷⢠⡙⠿⣷⣾⢅⣝⣻⢿⣿⡟⣵⣿⣿⣿⣿⢇⣴⣝⡻⢿⣿⣿⢏⣾⣿⣿⣿⣿⣝⠟⣱⣿⣿⣿⣿⣷⣄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣤⡻⣿⣿⣿⣿⡿⣛⣤⡙⣿⣿⣿⣿⣿⣷⠛⣫⣵⣾⣿⣿⡜⢿⣿⣿⡿⢟⡩⣷⣾⣿⣿⡎⢛⣡⣶⣿⡆⢿⡿⠿⠟⠁⣛⣩⡭⠭⠀⠅⣐⣀⡁⣀⣀⡐⠂⠀⠭⢭⣭⡁⣘⡛⠻⠿⠇⣾⣿⣷⣌⠋⣾⣿⣿⣿⡾⣨⣟⡻⣿⣿⢋⣾⣿⣿⣿⣶⡍⡱⢿⣿⣿⣿⣿⡿⣫⣶⣯⡻⣿⣿⣿⡿⣫⣶⣆⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣴⣿⣿⣿⣮⡻⡿⣫⣾⣿⣿⣿⣮⡻⣿⡿⣫⣵⣿⣎⢿⣿⣿⣿⣿⠎⢫⣷⣿⣿⣷⡹⣿⡟⠉⡴⠈⢛⣋⣭⣴⡰⣶⣿⠿⠃⢩⣥⣶⣾⡛⣿⣿⣿⣇⣿⣿⣿⣿⣼⣷⣶⣦⢄⡙⠻⢿⡿⢰⣶⣬⣍⡉⠰⢦⡙⢿⡿⣱⣿⣿⣿⡷⣡⣛⢿⣿⣿⣿⢟⣼⣿⣷⣍⡻⣿⢋⣾⣿⣿⣿⣿⣮⡛⢫⣾⣿⣿⣿⣿⣄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⡰⢿⣿⣿⣿⣿⡿⣫⣮⡻⣿⣿⣿⣿⣿⠟⣀⢾⣿⣿⣿⣿⣷⡻⢟⣭⣾⣿⣮⢻⣿⣿⣿⠟⠁⣠⣴⣶⣷⠸⣿⣿⡿⠇⢩⣴⣾⣿⠸⢿⣟⣛⡃⣻⣯⣭⡅⣸⣭⣽⣟⣘⣛⣛⡿⠺⢿⣿⣶⢄⠛⢿⣿⡿⢡⣿⣶⣦⡄⠐⠻⣿⣿⡿⣱⣿⣿⣿⣾⡝⢫⣿⣿⣿⣿⣿⢟⣤⣝⢿⣿⣿⣿⡿⣫⣾⣯⣙⣿⣿⣿⣿⡿⢓⣄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣠⣾⣿⣶⣝⢿⡿⣫⣾⣿⣿⣿⣮⡻⣿⢟⣵⣿⣿⣷⡝⣿⣿⢟⣭⣶⣝⢿⣿⣿⣿⡧⠛⣩⠄⣰⣷⡹⣿⣿⣿⡇⠹⢋⣀⣭⡴⣾⣷⣿⡌⣿⣿⣿⣷⢿⡃⠻⡇⣿⣿⣿⣿⣼⣿⣿⡏⣾⣿⣿⣶⣬⣭⣄⡉⠡⣿⣿⣿⡿⣱⣿⣦⡐⠍⣘⠿⣿⣿⣿⣟⣴⣿⣮⣝⢿⡟⣱⣿⣿⣿⣷⣝⠿⣫⣾⣿⣿⣿⣿⣮⡻⢟⣫⣾⣿⣿⣧⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣼⣿⣿⣿⣿⣿⢇⣬⡻⣿⣿⣿⣿⡿⢛⣤⡻⣿⣿⣿⣿⡿⣢⡱⣿⣿⣿⣿⣯⠻⣛⣥⣾⡷⠁⣾⣿⣿⡧⠙⣫⠵⢀⣄⢿⣿⣿⣧⢻⣿⣿⣧⢻⡿⠿⠿⠺⣿⡄⣄⢻⣛⣛⡗⠿⠿⢿⠣⣿⣿⣿⢧⣿⣿⣿⡏⣶⣄⠨⣍⠑⠿⣿⣿⠏⣤⡹⣿⣦⡝⠫⣾⣿⣿⣿⡿⣣⣜⡻⣿⣿⣿⡿⣫⣶⣝⢻⣿⣿⣿⡿⢟⣵⣮⢻⣿⣿⣿⣿⣿⣆⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣠⣶⣝⡻⣿⣿⡟⣵⣿⣿⣿⣮⣙⢿⢟⣵⣿⣿⣿⣮⡻⢟⣫⣾⣿⣿⣎⢿⡿⢟⣥⣶⣝⣿⠛⣰⡶⠘⢩⣴⣾⡗⠀⣶⣿⣿⡜⠿⠿⣛⡉⣭⣵⣶⣰⣿⣿⣿⣼⣿⣤⡄⣿⣿⣿⡇⣿⣿⡿⢰⣶⣶⡭⣈⣛⡻⠟⣼⣿⣿⡷⣀⠻⣿⣶⢁⡺⢿⣷⡌⠛⣵⣿⣮⡛⠿⢋⣼⣿⣿⣿⣮⡻⣫⣾⣿⣿⣿⣷⡝⠿⣫⣾⣿⣿⣿⣷⡽⣿⣿⢟⣫⣾⣦⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣼⣿⣿⣿⣿⣾⢉⢾⣿⣿⣿⣿⣿⠟⣠⣜⢿⣿⣿⣿⣟⣡⣮⡻⣿⣿⣿⡿⣣⣔⢿⣿⣿⡿⠀⠘⣭⣶⣿⡌⠿⢋⣴⡷⠛⣋⣭⣶⢸⣿⣿⣷⢻⣿⣿⡇⣿⣿⣿⠿⡿⢿⡗⢻⣿⣿⠳⣿⣿⡇⣿⣿⣿⢳⣿⣿⣿⢱⣶⣮⣝⠳⢿⣷⡌⠡⣾⣿⣷⣬⠁⢤⡝⢿⣿⢟⣵⣌⠻⣿⣿⡿⣫⣾⣮⡻⣿⣿⣿⢟⣱⣦⡹⣿⣿⣿⣿⣿⢿⣊⣱⣿⣿⣿⣿⣷⡄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢾⣿⣿⣿⣿⡿⣵⣿⣿⣮⣝⢿⡿⢫⣾⣿⣿⣷⣮⡛⢫⣾⣿⣿⣿⣮⠛⣣⣾⣿⣿⣦⡛⠋⣠⣾⣧⡹⣿⣿⠟⠀⢉⣵⣾⣧⣻⣿⣿⣧⠻⡿⣟⡃⣭⣽⣶⢸⣿⣿⡇⣿⣿⡇⣿⣿⣿⢸⣿⣿⢰⣶⣯⡍⣙⣻⠿⠇⣿⣿⣿⢣⣿⣷⡮⢁⡲⠌⢿⡿⣡⣿⣷⣌⠈⠡⣾⣿⣿⣿⡎⠫⣿⣿⣿⣿⣿⡎⠫⣴⣿⣿⣿⣿⣌⢻⠿⣫⣶⣿⣿⣷⡹⣿⣿⣿⣿⠿⣀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢠⣾⣷⣮⣝⠿⢟⣼⣿⣿⣿⣿⣿⠟⣤⣛⢿⣿⣿⣿⢟⣼⣶⣙⢿⣿⡿⣡⣾⣮⡻⣿⣿⢋⣤⣌⠻⣿⣿⣷⠌⢡⣴⣿⣧⢻⣿⣿⠷⢛⣫⣵⣆⢿⣿⣿⣹⣿⣿⡘⣿⡿⡇⠿⠿⡟⢻⠿⠿⢸⡿⡿⣼⣿⣿⢳⣿⣿⡏⣼⣾⣭⢑⢿⣿⡿⣱⣿⣿⣶⢄⠐⢿⣿⡿⢉⣴⡤⠙⢿⡿⣫⣾⣿⣬⠻⣿⢟⣩⣾⣿⣝⢿⣿⣿⡿⣫⣤⡻⣿⣿⣿⣿⣿⣿⡝⢟⣩⣶⣿⣿⣆⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢠⣿⣿⣿⣿⣿⢏⣶⣭⡻⢿⣿⣿⢋⣾⣿⣿⣿⣮⡛⣱⣿⣿⣿⣿⡷⢉⠺⣿⣿⣿⡿⢎⡰⢿⣿⣿⣷⠘⠋⢀⣴⣦⡻⣿⡿⢇⡩⣶⣿⠧⠻⠿⠿⠘⠿⣛⡃⣭⣵⡆⣶⣾⣧⢾⣿⡇⣿⣿⡇⣾⣿⡆⣶⣮⡍⣜⡛⠿⠸⠿⠿⠣⠿⣿⠗⣬⡻⢿⡿⣫⣿⣷⡀⠉⠰⣿⣧⣀⠀⠀⠘⢿⣿⣿⡿⢛⣄⢿⣿⣿⣿⣿⡯⢫⣵⣿⣿⣿⣿⡜⣿⣿⠿⣫⣵⣾⣎⣿⣿⣿⣿⣿⣦⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⡿⣿⣿⣿⣿⢫⣿⣿⣿⣿⣷⣮⢁⠿⣿⣿⣿⣿⢏⣾⣷⣭⡻⣿⢟⣴⣿⣿⣮⡛⠛⣴⣾⣿⣮⡛⠟⣡⠞⣠⡺⣿⡿⢟⣁⢾⠿⢃⡀⢶⠾⢂⢩⣴⣦⠠⣉⠻⢹⣿⣿⠸⣿⠿⢸⡿⡟⢻⡿⠇⣿⠿⢰⣿⡿⠙⣩⣴⢠⣶⣦⢀⡛⠷⠆⣤⣍⠻⠗⣬⣻⢿⡿⣡⣦⠑⡌⠛⢿⣶⣟⣡⡦⠙⠫⣾⣿⣿⣧⡹⠿⣛⣵⣿⣷⡝⣿⣿⣿⡿⣟⣀⢾⣿⣿⣿⣿⣿⣎⢿⣿⣿⠿⣛⣄⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢠⣿⣿⣷⣮⣝⠓⣿⣿⣿⣿⣿⡿⣡⣿⣿⣶⣝⡻⢫⣿⣿⣿⣿⡿⢣⣜⡻⣿⡿⠋⣠⣦⣝⠻⣿⠟⣡⠆⡁⣾⣿⡿⣂⡺⠟⣋⣄⠺⠟⣣⡄⢾⣿⣦⢻⡿⠇⢛⣋⣄⢀⠲⠖⣿⣿⢸⣿⡇⣾⣿⢗⣿⡗⠘⣂⡄⣬⣝⠃⠾⢿⢣⣿⣿⢃⣦⣍⠻⢣⣶⣌⠛⢣⣼⣿⡀⠐⢀⠲⣌⠻⡿⢋⣥⣶⣆⠨⠛⠿⣟⣵⣎⢿⣿⣿⣿⣿⠞⢫⣵⣿⣿⣿⣎⢿⣿⣿⣿⡿⢿⣈⣽⣾⣿⣿⣿⣆⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣿⣿⣿⣿⣿⢏⣾⣿⣮⣝⣻⠿⢱⣿⣿⣿⣿⣿⣳⣷⣮⣛⠿⡿⣱⣿⣿⠿⢃⢀⡸⢿⣿⣿⡷⠀⠘⢡⣾⣿⡯⣉⠾⠟⣡⣌⠛⣫⣴⡜⣿⣿⡎⠛⣋⣅⢶⣿⡆⢿⣿⡸⠿⠆⠈⠛⠊⣛⡋⢙⣛⠙⠋⠀⠾⠿⢸⣿⡏⣼⣿⢂⣮⡙⠃⣾⣿⠟⣱⣦⡍⠋⡔⠂⠘⠻⣿⣶⡾⣳⡆⡁⠀⢿⣿⣿⠿⣓⡀⣶⣤⣉⠻⠦⠻⣛⣭⣾⣿⣮⢿⣿⣿⣿⣿⠆⢛⣯⣵⣾⣿⣿⡜⣿⣿⣿⣿⣿⡄⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⣘⡻⠿⣿⣿⣏⣾⣿⣿⣿⣿⡿⢣⣶⣭⣛⡿⡿⣱⣿⣿⣿⣿⡟⣤⡍⠛⠡⡾⣡⣿⣿⣷⡝⠋⢠⣴⣿⣷⡝⢫⣾⠟⣠⡙⢛⣡⣶⡙⠟⠋⢈⢡⣤⣤⢩⣙⡂⠻⢛⡈⣥⣄⢶⣷⠸⣿⡆⣉⡃⢈⣥⢰⣿⢸⣿⢆⣶⡌⣀⠛⠋⢈⡭⣠⣶⣤⢄⡈⠛⠛⢡⣿⣷⣄⠀⣀⠈⠿⢏⢡⣾⣿⣷⡄⠉⢡⣾⣿⣿⣌⠿⢛⣠⣤⣄⠙⣿⣿⣿⣿⡯⢿⣻⣭⣾⣿⣎⢿⣿⣿⣿⣿⣿⡜⣿⡿⢿⣛⣣⡀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⣸⣿⣿⣿⣶⡮⣘⣛⠿⢿⣿⣿⢣⣿⣿⣿⣿⣿⢳⣮⣝⡿⢿⠏⢘⣩⣴⣿⡗⣠⣙⠻⠟⠉⣠⣾⣶⣝⡿⢟⣼⠗⣀⡛⠟⣱⣦⡝⢋⡴⣢⡸⣿⣷⡻⡿⢇⡩⣶⣦⢬⣁⠸⠿⠈⣛⡀⣻⠁⢩⡅⣨⣭⢨⡍⣘⡛⠘⠛⢡⣴⢆⣾⡦⣁⡛⠿⣵⣿⡿⣣⠞⠂⡉⢩⣿⣿⠁⢀⣤⡘⢷⡝⢟⣭⣾⣷⣄⠉⠛⢋⣥⣆⢻⣿⣿⣿⣧⠀⠙⢫⣵⣾⣎⢿⣿⣿⣿⣿⡎⣿⣿⠿⣟⣻⣥⢰⣾⣿⣿⣿⣧⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⢠⣿⣿⣿⣿⣿⣱⣿⣿⣿⣷⣶⠍⣚⣻⠿⣿⣿⢣⣿⣿⡿⢛⡁⣤⣍⣛⠿⡟⣼⡿⠟⣡⡦⣀⣻⢿⣿⡿⣣⣶⢉⠼⠟⣡⣦⡙⠋⡴⣣⣜⢿⣿⡮⠛⠡⠜⠻⠷⠙⢿⣊⣭⣦⢲⣄⠙⠧⢹⣧⠀⠁⢸⡇⣿⠁⠟⣡⣶⢇⣶⢎⡝⠛⠘⣛⢋⣐⡈⠋⢾⣿⣦⣀⣀⡂⠙⣡⣶⡌⠻⢟⣀⢲⣎⢿⡿⢟⣫⣄⢿⣦⡙⣿⡧⠛⣛⣭⣴⣦⠹⣦⡙⣿⣿⡞⣿⠿⣟⣛⣭⡰⣾⣿⣿⣿⣿⣇⢿⣿⣿⣿⣿⡆⠀⠀
⠀⠀⠀⠀⠀⠀⠀⣘⣿⡿⢿⣿⣧⣿⣿⣿⣿⣿⡟⣼⣿⣿⣿⣶⣄⣝⠛⠋⠴⡟⣸⣿⣿⣿⡟⡰⢈⣁⡾⠿⣱⣿⣿⣷⡎⣑⡿⢡⣿⠏⣤⣟⠿⠇⢠⣜⡻⣿⡷⠁⢴⣷⣜⠻⢇⡡⣶⡄⢙⠛⢿⠞⢛⣋⣤⡀⣉⠀⠀⠰⠀⣀⢠⡍⣙⡛⠼⠏⢨⠄⣸⡷⣁⠻⠟⡀⠀⠄⡈⢿⡿⢟⣥⡠⠘⢟⣫⣦⠙⢿⠆⢛⣥⢺⣿⣿⣿⡎⢻⣛⣤⡰⢆⢻⣿⣿⣿⡧⠹⠗⡈⢫⣥⡰⣿⣿⣿⣿⣧⢹⣿⣿⣿⣿⣿⡜⠿⣿⣿⣿⣧⠀⠀
⠀⠀⠀⠀⠀⠀⢠⣿⣿⣿⣿⡶⣨⣭⣟⣿⣿⠿⢱⣿⣿⣿⣿⡟⣼⢋⣴⣿⡷⢠⣭⣙⡛⠿⢀⣴⣿⣿⡿⣱⣮⣽⣻⠟⣾⣿⢃⣶⢀⡚⢿⣿⡏⢠⣟⡿⣿⠎⠀⢿⣷⠉⢉⣤⡉⢑⡘⠿⢈⢠⣄⠻⠘⣿⣿⠇⢿⠚⡇⢺⠻⠇⠿⢿⡿⠁⢁⣶⢀⡘⠉⣠⡥⠀⠠⠉⢳⣤⠄⠀⠺⣿⢟⣯⡄⢻⠿⢛⣡⡐⣶⠈⣿⡧⢻⣫⣵⣾⣆⢿⣿⣿⣦⠂⠛⣋⣥⣴⡄⢿⣿⣦⠹⣷⢻⣿⣿⣿⠿⠆⢻⣛⣯⣽⣶⣶⢻⣿⣿⣿⣿⡆⠀
⠀⠀⠀⠀⠀⠀⣼⣿⣿⣿⣿⢧⣿⣿⣿⣿⣿⡇⣶⣶⣯⣽⣛⠁⠁⠾⣿⣿⢃⣿⣿⣿⠛⢠⣶⣮⣭⣛⠱⠿⣿⣿⡟⣴⣶⡭⠘⠃⢾⣿⣷⡆⡀⠸⣿⡿⣠⡆⢸⣷⠈⠸⣷⣽⠿⢏⡱⣦⣬⡀⠻⠂⣤⠀⡀⠷⢹⡿⣏⣿⢿⠳⠟⠐⢠⢀⡚⠁⡩⣤⡷⣈⡺⣷⣤⡬⢀⡰⣾⠃⣣⣔⢿⢿⠃⣤⠸⣿⡿⠗⡈⠀⣶⣿⣧⢿⣿⡿⢿⡈⣫⣵⣶⣿⡄⠹⢿⣿⣿⠘⠿⠿⢓⡈⠉⣭⣷⣾⣿⣿⢸⣿⣿⣿⣿⣿⡼⣿⣿⣿⣿⣷⠀
⠀⠀⠀⠀⠀⠀⣻⠿⠿⢿⣿⣸⣿⣿⣿⣿⣿⢱⣿⣿⣿⣿⡏⣰⣾⣿⣶⡆⢨⣝⡛⢁⠎⢾⣿⣿⣿⢇⣿⣿⣶⣭⣙⣛⡿⠇⢀⣾⣷⣮⡉⣸⠷⠸⡖⣠⣛⠿⠸⣤⣙⠘⣮⠋⢴⣿⣿⡎⢻⣵⣦⡉⠘⠇⠻⣀⠀⣀⡁⣈⡀⢀⡐⠃⠛⡀⣰⣟⣤⢛⢴⢟⣵⡎⡫⠆⢘⣣⡄⠠⣟⣯⣄⠟⠰⢟⣃⢡⣾⣿⣷⠀⠿⣟⣻⣄⣶⣿⣿⣿⡸⣿⣿⠿⣗⢓⡈⢩⣥⣦⢸⣿⣿⣿⡀⢻⣿⣿⣿⣿⡆⣿⣿⣿⣿⣿⡧⠻⢿⣿⣻⣟⡀
⠀⠀⠀⠀⠀⢸⣿⣿⣿⣷⡆⣶⣭⣭⣽⣟⡋⣺⠿⠿⢿⣿⢡⣿⣿⣿⣿⢃⣿⡟⢰⣿⢹⣷⣶⣯⡍⣸⣻⡿⢿⢧⣿⣿⣿⡇⠠⣭⣛⡛⠸⣿⣿⡆⠈⣟⡿⢿⣆⠙⠻⠗⡀⢻⢷⡝⠣⣼⣷⣝⠟⣃⡰⣦⣌⢛⠃⠻⠇⠹⠇⢛⡋⣴⡶⣨⣋⠞⣵⢟⣥⠛⣭⠾⠃⡀⠟⣋⢁⣬⠻⣿⠋⡀⢺⣿⠿⠇⢙⣭⠄⣦⢻⣿⣿⡿⠜⣿⣻⣿⣅⢵⣶⣿⣿⡎⣿⣆⢻⣿⡈⣿⣿⣿⠷⠈⠻⣿⣛⣛⣃⢩⣭⣵⣶⣶⣶⢸⣿⣿⣿⣿⡇
⠀⠀⠀⠀⠀⣾⣿⣿⣿⣿⢡⣿⣿⣿⣿⣿⣧⣿⣿⣿⣷⠂⣰⣦⣭⣭⡉⢘⡛⠀⠿⠟⢾⣿⣿⣿⢧⣿⣿⣿⡟⣴⣾⣭⣟⢘⣃⠹⠿⢡⣿⣶⡬⢀⣓⠘⠟⣴⣯⣧⡉⢠⣭⡂⠓⣴⣿⢮⡛⢩⣦⡻⣿⡜⣟⡨⣥⣰⡦⣶⢠⡯⣩⠛⢼⡿⣫⣶⡕⢻⣵⣿⡤⢋⣠⡶⠌⢁⣭⣶⡎⠋⣐⣫⡄⢶⣾⣿⠎⢃⣺⣻⡅⣽⣶⣾⣟⣿⣿⣿⣿⡸⣿⡿⠿⠷⢙⣻⡀⢉⡅⣭⣴⣶⣶⣇⠘⣿⣿⣿⣿⢸⣿⣿⣿⣿⣿⡼⣿⣿⣿⣿⣧
⠀⠀⠀⠀⠀⢿⠿⠿⠿⣿⢸⣿⣿⣿⣿⣿⣸⣿⣿⣿⣿⢠⣿⣿⣿⣿⡇⣿⢁⣾⣿⢇⣷⣶⣶⣭⢨⣽⣟⣛⢓⡿⠿⠿⠇⣿⣿⣷⡀⢶⣮⣭⢁⣛⡻⠷⠀⢶⣭⡟⣐⠦⠈⢉⣐⠌⠙⠃⢾⣾⣝⢟⣤⣺⣜⢷⠹⠋⡃⢛⠺⠳⢏⣾⢗⣼⠛⣫⣾⢆⠛⠁⢐⣂⠝⠠⢞⡈⣯⣵⠂⠘⢟⣛⣥⢨⣶⡖⣠⢸⣿⣿⠿⠹⣿⣛⣛⢸⣯⣭⣵⡆⣶⣾⣿⣿⣼⣿⣿⡌⢗⢸⣿⣿⣿⣯⠀⢹⣿⣿⣿⡇⣿⣿⣿⣿⣿⡿⢿⣿⣿⣿⣟
⠀⠀⠀⠀⢀⣿⣿⣿⣿⣷⢰⣶⣶⣶⣿⣯⢨⣯⣽⣿⡃⢙⣟⣛⣛⣛⠂⠏⠸⠿⠿⢸⣿⣿⣿⡏⣾⣿⣿⣿⣹⣿⣿⣿⢰⣶⣾⣭⢡⣌⠙⡛⢘⠻⠿⠗⢶⣆⢩⢅⣿⣻⡷⠀⠩⣙⠂⠸⣷⣭⣉⠶⣽⡳⣩⣄⢾⣿⡇⣿⣿⢣⣮⡑⢻⡵⣗⡩⣶⡿⠁⢘⣫⠅⡀⢻⣿⣯⠘⣠⡾⠷⠹⢛⣛⡀⠉⣠⣭⡄⣷⣶⣿⡸⣿⣿⣿⡏⣿⣿⣿⡧⢹⣿⣿⣿⠏⣿⣿⣗⠈⠈⣛⣭⣭⣍⠀⠨⣿⣿⣷⡆⣶⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⠀⠀⠀⠀⢰⣿⣿⣿⣿⡟⣾⣿⣿⣿⣿⡗⣼⣿⣿⣿⡆⣿⣿⣿⣿⣿⠰⢀⣿⣿⡿⣼⡖⠰⣶⡆⣾⣿⣿⣭⣽⣿⣿⣟⣹⣿⣿⣟⣹⣻⣷⡀⠻⠿⠿⠰⠶⣶⡄⠨⣭⣿⢁⣛⣂⠈⠸⠧⢰⣆⣽⣛⠆⣐⡻⢿⠧⣹⣧⣽⣅⠿⢿⣻⣄⢚⣻⣧⢰⠆⠿⠆⠂⣘⣛⣩⣯⡍⡀⢰⡶⢿⠘⠿⡟⠁⢸⣿⣿⡇⣿⣿⣿⡅⣿⣿⣿⡇⣶⡂⠺⣷⢸⣿⣿⣿⡇⣿⣿⣿⡄⠀⣿⣿⣿⣿⡄⠰⣿⣿⣿⡇⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⠀⠀⠀⠀⢸⣿⢙⣿⣿⡇⣿⣿⣿⣿⣿⡗⢿⣿⣿⣿⡅⣿⣿⣿⣿⢿⠈⢸⣿⣿⡷⢿⣿⣮⣀⡁⣿⣿⣿⡿⢿⣿⣿⡿⢿⢿⣿⠿⢿⡿⢿⠇⡦⠙⠿⠰⣤⡉⠀⠴⠰⠿⠸⣭⠿⠄⠿⠷⠄⢰⢮⡭⠸⠿⠿⢇⣾⣿⣿⣿⣿⣧⠿⠿⡿⠨⡽⢶⠆⠰⠿⠇⠠⠿⠿⠼⡷⠂⢿⣤⠀⠘⠆⠿⠡⠟⠸⠿⠿⠇⠿⠿⠿⠇⠿⠿⠿⠇⠿⠿⠤⠤⠸⠿⠿⠿⠇⠿⠿⠿⠇⠀⠿⠻⠟⠟⠂⠈⠿⠿⠿⠗⠹⠿⠿⠿⠿⠿⠿⠿⠿⠬⡿
⠀⠀⠀⠀⢰⣶⡖⠒⢲⡆⣶⣶⣶⣶⣶⡆⣶⣶⣶⣶⠀⣶⣶⣶⣶⣦⠀⢰⣶⣶⡆⣶⣾⣆⣉⡀⣿⣷⣿⡷⣾⣿⣿⣷⣺⣿⣿⣗⣾⣿⣿⡆⡿⠠⢶⠸⠿⠀⠀⠲⢀⣓⢸⣿⣿⠀⠾⠾⠂⢘⣛⣃⢸⣿⡿⣎⢿⣿⣿⣿⣿⠏⣾⣿⣿⢀⣟⣛⠃⠰⠷⠖⠀⣿⣿⣛⣿⡂⠘⠻⠀⠰⠆⠷⠌⠗⣼⣿⣿⡇⣿⣿⣿⡇⣿⣿⣿⡇⣿⣿⣋⣉⢸⣿⣿⣿⣇⣿⣿⣿⡇⠀⣿⣿⣿⣿⠀⢘⣿⣿⣿⡇⣿⣿⣿⣿⣿⣿⣿⣿⣿⡟⢝
⠀⠀⠀⠀⢸⣿⣿⣶⣿⣧⣿⣿⣿⣿⣿⣇⢿⣿⣿⣿⡇⣿⣿⣿⣿⣿⠀⠘⣿⣿⣷⢻⣿⠿⠿⠇⢿⣿⣟⣟⢻⣿⣿⣿⢸⣿⣿⣯⣹⣿⣷⠆⣠⣶⡷⠘⠿⠛⡃⢀⣽⣭⡬⡽⠀⠆⢺⠏⢘⣋⣭⢗⣢⠱⣾⣿⢣⣽⡛⣯⡉⣾⣶⣭⠋⢶⣮⡝⣘⡋⢷⢆⣒⠀⠯⣬⣭⣟⠀⠙⠛⠿⠸⢿⣶⡄⠲⣿⣿⡇⣿⣿⣿⡅⣿⣿⣿⡇⣿⣿⣿⣟⢸⣿⣿⢿⠷⣿⣿⣿⠃⢠⣿⣿⣿⣿⠀⢸⣿⣿⣿⡇⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⠀⠀⠀⠀⠀⣿⣿⣿⣿⣿⠸⠿⠿⢿⡿⣟⢘⣿⣿⣿⡇⢨⣽⣭⣭⣭⠀⡄⢶⣶⣶⢸⣿⣿⣿⡇⣿⣿⣿⣿⣹⣿⣿⡿⠸⠿⣟⣛⡘⡯⢉⣤⢰⣶⣶⡆⠿⠟⣐⡈⣯⡽⠇⢀⣬⠥⠀⠼⣟⣭⡔⢟⣭⡖⣉⠓⢿⣿⡇⣿⣿⠝⢛⡱⣮⡳⠮⣙⡻⢷⡄⠤⣭⣝⠀⠲⢿⡏⣸⣇⠹⠟⢼⣶⣶⢀⣤⠉⣭⢉⣟⣛⡿⠸⠿⢿⣿⢳⣿⣿⣿⡇⣾⣿⣿⣿⣧⣿⣿⡇⠀⢰⣶⣶⣦⣥⠀⣸⣿⣿⣿⡇⣻⣿⣿⣿⣿⠿⣿⢿⣿⣿⣿
⠀⠀⠀⠀⠀⣿⣿⣷⣶⣿⢸⣿⣿⣿⣿⣿⢸⣿⣿⣿⣷⠈⣿⣿⣿⣿⡇⣷⠘⣿⣿⡞⠿⠿⠿⣛⢘⣻⣭⣭⡤⣶⣶⣾⡆⣿⣿⣿⠇⠡⢛⣛⡀⣭⣵⡖⠀⣚⣫⣥⠰⠎⣀⡄⠐⣠⣴⢎⠻⣫⣵⡿⣉⠾⣱⡟⣴⣠⡤⣆⢶⡼⣎⢿⠎⢫⣶⣝⠿⠇⢤⣂⠚⢉⣜⡣⠐⢠⣭⣟⡃⠰⢶⣶⡍⣨⣝⣓⡀⠺⣿⣿⡟⣼⣿⣷⣶⣸⣭⣽⣽⢁⣛⣛⠿⠿⠸⣿⡟⢠⡏⣼⣿⣿⣿⠇⢀⣾⣿⣿⣿⢡⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡷
⠀⠀⠀⠀⠀⣿⣿⣿⣿⣿⡼⣿⣿⣿⣿⣿⡏⣿⣿⣿⡿⠇⠙⢛⣛⣋⣅⢨⣤⠰⣶⣆⢿⣿⣿⣿⡜⣿⣿⣿⣧⠻⢟⣛⣧⢸⣿⢂⣴⡸⠿⢛⣃⠨⠄⣰⡶⢛⣫⠍⠀⠈⣭⠆⢄⡫⢗⣭⡶⣙⢋⣾⡟⣵⣾⢩⡛⠘⠃⠛⠘⣧⢹⣆⢻⣷⣝⠛⣁⣮⡻⡿⣁⢤⠙⡛⢁⡈⢿⣻⠣⣶⡐⡮⢀⣙⠻⠿⢡⣷⡐⢾⢡⣯⣟⣻⠧⢿⣿⣿⡿⣸⣿⣿⣿⡏⣾⡶⢀⣦⠀⣭⣭⣉⠛⠀⠺⠿⢿⣿⣿⢸⣿⣿⣿⣿⣿⢻⣿⣿⣿⣿⡇
⠀⠀⠀⠀⠀⢸⣿⣿⣿⠿⠗⢻⣛⣛⣯⣭⡅⢹⣶⣶⣾⣿⡄⢻⣿⣿⣿⡈⣿⣧⡘⣿⡼⡿⢿⣛⣃⢩⣿⣷⣾⡞⣿⣿⡿⠇⢁⣨⣭⣦⢺⣿⠿⠃⢠⣷⡾⢇⠉⣴⣿⠇⠈⠶⣫⣵⡎⠫⢞⣵⢗⢈⠘⠛⢁⣴⠆⣶⠄⣶⡄⣭⡄⠙⠃⢩⣥⢲⡝⢿⠛⣤⣝⢷⡆⠀⢶⣬⠈⠡⣿⣾⣧⠀⠻⢿⣿⢃⣶⣭⣅⠀⠾⢿⣿⡿⣸⣿⣶⣿⣅⣽⣛⣻⠿⢹⡿⢡⣿⡟⢸⣿⡿⠃⢠⢰⣿⣿⣷⣶⡆⣼⣭⣭⣟⣛⡛⡺⠿⢿⣿⣿⠇
⠀⠀⠀⠀⠀⠈⣷⣶⣶⣿⣷⢹⣿⣿⣿⣿⣿⠸⣿⣿⣿⣿⣧⢄⠻⠿⠟⡃⢨⣭⣤⡄⠂⢿⣿⣿⣿⡌⣿⠿⢟⣫⣩⣶⣾⡇⡈⠿⠟⣫⣄⢲⡏⠸⣃⡹⣾⡏⠐⡉⠶⢀⣥⣮⠻⣫⡾⣣⣮⠉⠊⠈⣠⡇⣶⠠⢀⣉⡀⡉⠁⠠⠰⡜⣧⠠⠙⠗⠉⣦⡻⣿⡟⢣⣬⡣⠰⡍⡁⠸⣶⡍⠃⢷⠸⣷⢆⣜⡛⠿⠏⡀⣿⣷⣾⢡⣝⡻⠿⡟⣼⣿⣿⣿⢇⠖⣠⣬⣭⠁⣘⠛⠃⢰⣏⣿⣿⣿⣿⣿⢡⣿⣿⣿⣿⣿⢧⣿⣿⣿⣶⣶⠀
⠀⠀⠀⠀⠀⠀⢻⣿⣿⣿⣿⡞⣿⣿⣿⣿⣿⡇⠻⣟⣛⣭⣿⡰⣆⠸⣿⣿⡄⢿⣿⣿⣦⠘⠛⣛⣭⣵⡰⣿⣿⣿⣧⠻⢟⡃⢰⡄⢿⡿⢛⣁⠀⣾⣿⠷⡉⠅⡿⢋⣤⠸⠿⣻⡾⢂⡘⠟⡁⢠⣶⢠⡍⢀⠁⠆⠾⠿⠜⣿⢹⠰⠆⢁⠈⢥⢲⡀⣍⠘⠛⣈⢶⣿⣿⠿⢀⡘⢿⠄⠏⡱⢿⣷⠀⢁⠺⢿⣿⠗⣠⠁⣛⠿⢧⣿⣿⣿⡿⢰⣾⣭⣛⠛⠀⣾⣿⣿⠏⣸⠏⢁⣼⣷⢰⣯⣭⣟⣛⠟⢼⣿⣿⣿⣿⡿⣼⣿⣿⣿⣿⡇⠀
⠀⠀⠀⠀⠀⠀⠸⣿⣿⡿⠿⣗⢙⣯⣽⣷⣶⣿⡸⣿⣿⣿⣿⣷⢻⣦⠙⠿⠷⠘⣫⣥⣶⣦⡠⡙⢿⣿⣷⠙⣛⣭⣷⣶⢻⣿⠘⣋⡄⢾⣿⣿⠇⠉⣷⣿⠟⣀⠰⣿⠟⣡⣬⠉⢥⣭⢠⡶⣠⡙⠃⠠⢰⡿⣼⢧⡿⠐⠀⠶⢸⡎⣿⡾⣧⠠⠄⠛⠈⢴⣦⡩⣡⠉⢩⣤⣜⢿⡷⢀⡺⣿⣷⡏⠀⢿⣿⣶⠄⡘⠿⢰⣿⢣⣾⣯⣽⡻⢣⣿⣿⡿⠋⢰⣶⣶⣬⡍⠀⠛⢰⣿⣿⢏⣿⣿⣿⣿⣿⢡⣿⣶⣿⣯⣽⢃⣻⠿⣿⣿⣿⠁⠀
⠀⠀⠀⠀⠀⠀⠀⢽⣶⣾⣿⣿⡞⣿⣿⣿⣿⣿⣧⢻⣿⣿⡿⠟⣋⣭⣶⣄⠻⣇⠹⣿⣿⣿⡧⠙⣀⡉⢶⣷⡹⣿⡿⢟⣥⡰⣆⠹⣿⡆⢩⣵⣾⡄⢈⣱⣿⣿⠇⣀⠺⠟⣡⣿⡶⠁⠛⢁⣡⢤⣿⢦⣾⠅⠉⢀⠀⠘⠀⢓⠀⡀⠉⠁⢹⣄⢿⣆⢤⡈⠻⢓⣌⢾⣦⡹⠟⠃⣠⣿⣿⣮⠉⠂⣼⣷⡍⠁⣾⡿⢃⣬⢁⡻⣿⣿⡿⢡⣿⡿⢉⣐⠡⣿⣿⡿⠋⢁⣴⣿⣷⣾⡍⣘⡻⢿⣿⣿⢇⣿⣿⣿⣿⣿⡟⣸⣿⣿⣷⣿⡇⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠘⣿⣿⣿⣿⣿⣹⣿⣿⣿⠿⣛⡀⢽⣶⣿⣿⣿⡜⣿⣿⣷⡌⠂⢛⣩⣴⣾⣧⢹⣿⣦⠉⠃⡱⣾⣿⣿⣿⡝⢂⠐⣾⣧⠉⢩⣶⣆⠳⠍⢹⣿⡿⣣⣦⣐⠂⣶⡖⣼⣶⢏⣜⠋⠞⠋⣰⡇⣾⡃⠀⠐⣿⡆⣿⠘⣷⡄⠙⠈⢛⣃⣵⣦⢲⣶⣦⠈⣤⣦⢻⣿⣷⢝⡵⢋⣴⣌⠛⢠⣿⡖⣀⡚⣵⣿⣿⣶⡏⠁⠟⢉⣴⡿⢣⣾⡶⠈⢁⠀⢾⣿⣿⣿⡿⣹⣿⣿⣿⣶⡏⣘⣛⠿⣿⣿⣿⣱⣿⣿⣿⣿⣿⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⢹⣿⣿⡿⢟⣃⢩⣷⣾⣿⣿⣿⡜⣿⣿⣿⣿⣿⠝⣛⣭⣷⣶⣄⠻⢿⣿⠿⢃⡡⣶⣿⣶⣄⡘⠻⣛⣵⣿⣮⠷⠌⢱⣾⣦⡙⢟⣥⣦⡑⠉⡸⣿⡿⣣⣷⢎⣘⠻⠏⢚⡉⣰⣾⢠⣶⢀⣭⡅⣭⠈⣭⡅⣭⡄⢷⣦⢸⣷⠠⣍⠈⠿⢇⡩⣶⣷⣝⣿⡷⣉⠳⢋⣤⡝⠟⣡⣶⣮⠉⢴⢏⣾⣾⣝⠿⠟⢀⣡⣶⣦⡍⠑⠿⠋⣠⣾⢏⣾⣿⣾⣭⡛⢱⣿⣿⣿⣿⡿⣰⣿⣿⣿⣷⣾⢍⣙⡻⢿⣿⣿⠃⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⢭⣶⣾⣿⣿⣎⣿⣿⣿⣿⣿⣷⠘⢟⣫⣽⣾⣷⡹⣿⣿⣿⣿⠆⢀⣄⠚⢿⣷⡜⣿⡿⢛⣥⣆⠈⠻⠿⣋⣴⣝⣦⡙⠛⣵⣮⡙⠛⣴⣶⣦⢌⣈⠉⢉⣨⣭⢆⣶⣦⢀⣛⠋⠾⠿⢸⣿⠁⢋⡠⣬⡁⠹⣷⠸⠿⠎⢛⣁⢡⣶⣆⢬⣅⠙⠛⢛⣀⢈⣥⣦⡙⠟⣡⣶⣝⠛⣡⢞⣤⣝⠿⡿⠛⢁⣤⣝⠻⣿⡟⣰⠏⣤⣮⣛⠣⣾⣿⣿⣿⡿⣳⣿⣾⣯⣛⠿⢱⣿⣿⣿⣿⣿⡟⣼⣿⣿⣿⣶⠍⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠘⣿⣿⣿⣿⣿⡜⣿⠿⣛⣭⣷⣷⡹⣿⣿⣿⣿⣿⡝⢛⣭⣶⣿⣧⡹⣿⣦⡍⠋⢄⢺⣿⣿⡿⢇⡀⢤⡙⢿⣿⢇⣕⢦⣉⠛⣡⣦⣍⠻⢣⣾⡿⢣⣶⣭⠋⠾⢿⢃⣾⣿⢡⣿⠆⢂⣤⢰⣾⢠⣷⣶⢰⣦⠀⠾⣷⢹⣿⡆⢿⡿⠌⣫⣴⡘⢿⣿⣷⡙⢋⣥⣦⠻⠟⣡⢖⣙⢿⣿⡿⢃⠀⡐⢿⣿⣿⡿⠂⠀⢠⣾⣿⡿⣡⣿⣶⣝⡻⠿⣵⣿⣿⣿⣿⡿⣡⣷⣯⣝⡻⢿⡿⣼⣿⣿⣿⣿⡟⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠘⣿⣿⢟⣫⣵⡔⣿⣿⣿⣿⣿⣷⡘⣿⠿⣫⣵⣾⣜⣿⣿⣿⣿⡷⠉⢽⣾⣿⣦⣄⠙⢋⣴⣾⣿⣦⡙⠂⡑⢿⣿⡷⢉⢶⣌⠛⠟⣴⣦⡍⠡⢿⣿⠏⣼⣿⡆⣴⣭⡉⠚⡡⠰⣿⡿⢸⣿⠺⣿⣿⢺⣿⡇⢷⣌⡀⢩⣵⡄⣿⣿⣌⣿⣿⠌⢋⣥⣶⣞⠛⢋⣴⢌⢵⣿⣿⡷⠁⠐⣡⣾⣿⣦⡙⠟⢁⣤⣾⣿⣮⠛⢵⣿⣿⣿⣿⡟⣴⣮⣝⠿⣿⡿⣱⣿⣿⣿⣿⣿⡟⣴⣭⣛⢿⣿⡿⠁⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠰⣿⣿⣿⣿⣿⡝⣿⣿⣿⡿⢟⣥⡔⣿⣿⣿⣿⣿⣞⠿⢟⣽⣾⣿⣎⠻⣿⠟⣩⣶⣤⠻⢿⣿⢟⣥⣦⡉⠤⠙⣴⣿⣿⣮⣁⢶⣬⡉⠰⠿⠶⠌⣘⠻⠿⠐⣋⣥⢰⣿⡿⣸⣿⡇⣾⣿⢰⣿⣿⣶⣿⣷⢸⣿⣿⣰⣬⡑⠘⠿⢛⡀⣶⠾⠆⢛⣋⣴⢖⡩⣾⣿⣷⡝⠋⠐⣡⣶⣍⢿⣿⠿⢁⣶⣬⡻⣿⡿⢫⣾⣿⣮⡻⢿⢯⣾⣿⣿⣿⣿⡖⣡⡻⢿⣿⣿⣿⡿⣼⣿⣿⣿⣿⡷⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠹⣿⣿⣿⣿⣿⠞⢋⣵⣾⣿⣿⣿⣌⢻⣿⣿⢟⣭⣶⡻⣿⣿⣿⡿⢓⣐⢿⣿⣿⣿⣷⢌⠐⣿⣿⣿⠟⣠⣄⠈⢻⡟⣵⣿⣿⡎⣘⡿⣿⡗⣴⣶⣶⢢⣶⣮⡍⣙⣛⠃⠿⠿⠧⣿⣿⠹⣿⣿⠧⠿⠿⠌⣛⣛⡉⣭⣶⣦⢳⣶⣶⡔⣾⡿⣂⢹⣾⣿⣿⣞⢿⠟⢀⣤⡸⢿⣿⣿⠷⣀⢼⣿⣿⣿⣿⢎⣑⢿⣿⣿⣿⡿⣡⣮⣻⢿⣿⣿⢏⣼⣿⣿⣷⣯⣝⠛⣼⣿⣿⣿⣿⡿⠁⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠙⠿⣛⣭⣶⣿⣮⢿⣿⣿⣿⣿⣿⢆⡩⣾⣿⣿⣿⣿⣎⠟⣫⣾⣿⣿⣶⡙⢿⢟⣵⣿⣷⣌⠙⢡⣾⣿⣿⣷⢂⠘⠻⣿⢏⣾⣿⣿⡗⣬⣝⣻⠏⣿⣿⣿⢹⣿⣿⢱⣿⣿⣦⣿⣷⢰⣿⣿⡇⣿⣿⣇⢿⣿⣿⡹⣿⣿⡎⢿⣻⣭⡼⣿⣿⣷⡹⣿⡿⠛⢀⡸⣿⣿⣿⣆⠛⢡⣶⣿⣿⣝⢿⢟⣵⣿⣿⣷⣝⡻⢫⣾⣿⣿⣿⣷⡯⢁⣿⣿⣿⣿⣿⣿⢏⣾⣶⣭⣛⢿⡟⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠘⢿⣿⣿⣿⣿⣧⡻⣿⢟⣯⣾⣿⣷⣌⢿⣿⡿⢋⣵⣶⣝⢿⣿⣿⣿⢟⣤⣙⢿⣿⣿⢋⣤⡐⣍⠻⡟⣡⣿⣷⡌⢂⣌⡻⠿⡟⣼⣿⣿⡟⣼⣷⣶⢇⣽⣛⡛⢺⠿⣿⢿⣿⣿⠼⣿⣿⡷⢻⡿⣿⢚⣛⣯⣥⣷⣿⣿⡜⣿⣿⣿⡜⡿⢟⣣⡄⢈⣴⣿⣷⡝⠿⠋⢀⣴⣜⢿⣿⣿⢟⣵⣞⢿⣿⣿⣿⢟⣵⣮⡻⢿⣿⣿⢟⣵⣿⣷⣭⡻⣿⡿⣳⣿⣿⣿⣿⣿⠇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⢻⣿⣿⣿⢟⣥⣜⢿⣿⣿⣿⣿⣿⠆⡉⢾⣿⣿⣿⣿⣷⡝⢫⣾⣿⣿⣿⣷⢍⠱⣿⣿⣷⡌⢃⣤⣝⠿⠿⢡⣦⡙⢿⡷⣴⣭⣛⡛⢰⣿⣿⡿⣸⣿⣿⣇⣿⣿⣿⠘⢻⣿⢸⣿⣿⣿⢺⣿⣿⡏⣿⣿⣿⣼⣿⣿⡷⠹⣛⣩⣵⡸⡿⢋⣴⡜⢿⠿⣋⣵⠀⣰⣿⣿⣿⡷⠉⣴⣿⣿⣿⣿⣎⠟⣵⣿⣿⣿⣿⣷⡝⠡⣿⣿⣿⣿⣿⣿⢗⣬⡻⣿⣿⣿⣿⠋⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠙⣭⣾⣿⣿⣿⣧⡻⣿⡿⢟⣵⣿⣿⣮⠻⣿⣿⡿⣫⣾⣷⣝⢿⣿⡟⣡⣿⣿⣮⣙⠿⣣⣆⠹⣿⡟⣠⣬⡛⠿⠆⡘⠿⣿⣿⢣⣿⣶⣮⢅⣙⣛⡻⠸⠿⢿⡿⢶⡊⠉⢸⣿⣿⣿⠸⡿⠿⠇⢻⣛⣛⣅⢭⣶⣾⣇⢻⣿⠟⣃⡰⠿⢟⣫⣄⠻⠟⣠⣾⣷⡝⢟⣭⣾⣿⣮⡻⣿⣿⢟⣵⣿⣾⣻⣿⣿⡟⣫⣾⣿⣮⡻⢿⣿⡿⣣⣿⣿⣿⣷⣝⠻⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⢿⣿⣿⣿⣿⠿⣈⢾⣿⣿⣿⣿⣿⣿⡌⠫⣾⣿⣿⣿⣿⡷⢉⡺⣿⣿⣿⣿⢟⣴⣮⣛⠷⠌⢰⣿⣿⣿⡟⣰⣭⣐⡈⠃⣿⣿⣿⡟⣼⣿⣿⡟⣾⣿⣿⡇⣶⠂⠀⢰⣶⣾⣷⡰⣿⣿⣿⢸⣿⣿⣿⡼⣿⣿⣿⠎⠋⣒⣭⣶⡸⣿⣿⡿⢂⠺⡿⢟⣭⣾⣎⢿⣿⣿⣿⡿⣈⢾⣿⣿⣿⣿⣿⡎⠫⣾⣿⣿⣿⣿⣿⣷⢉⢾⣿⣿⣿⣿⣿⠋⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠹⠿⢟⣵⣾⣿⣷⣝⢿⣿⣿⡿⣫⣾⣿⣮⡻⣿⣿⢋⣼⣿⣿⣮⣝⠿⣣⣿⣿⣿⣿⠗⣤⣄⡙⠿⡟⣰⣿⣿⣿⡏⣴⣄⡈⠭⢑⣛⡿⢿⠣⣿⣿⣿⡇⣿⣿⣿⢸⣿⣿⣿⡇⣿⣿⣿⡇⠿⣿⣟⣃⢩⡵⢂⣴⡘⣿⣿⣿⣷⠹⠏⢐⣫⣥⡸⣿⣿⣿⣿⣿⠻⢟⣵⣿⣿⣷⣝⢿⣿⠿⣫⣾⣿⣮⡻⣿⣿⣿⢟⣵⣿⣷⣮⡻⣿⠟⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠻⣿⣿⣿⣿⣿⣷⡝⢫⣾⣿⣿⣿⣿⣿⠆⣑⠿⣿⣿⣿⣿⢟⣴⣮⣝⡿⣿⢋⣾⣿⣿⣿⡆⠀⣍⡛⠻⠟⣰⣿⣿⣿⡆⣌⡙⠿⡿⣸⣿⣶⣶⢠⣿⣿⣭⢠⣿⣽⣿⡆⣶⣾⣾⣷⢺⣿⠿⢋⡀⣾⣿⣿⣧⠹⠟⢛⡩⢀⣸⣿⣿⣿⣷⡝⣿⡿⣟⣽⣾⣞⢿⣿⣿⣿⡿⢆⡱⣿⣿⣿⣿⣿⣿⣮⠛⣵⣿⣿⣿⣿⣿⡿⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⢻⣿⣿⢿⣫⣾⣷⣝⢿⣿⣿⡿⣡⣾⣿⣷⣬⡛⠿⣫⣿⣿⣿⣿⣿⢢⣝⣻⢿⣿⡿⣱⣿⣌⠻⣿⢠⣦⣭⣙⡛⠑⠿⢿⣷⡆⣌⣙⠻⠿⢸⣿⣿⣿⢸⣿⣿⡿⠷⠻⠟⣛⣉⠠⣴⠾⠿⠇⢛⣋⣭⣴⣆⢹⠏⣠⣿⣷⡻⣿⡿⣟⣫⡔⢿⣿⣿⣿⣿⣯⡻⢟⣫⣾⣿⣿⣮⠻⣿⣿⡿⣟⣵⣿⣮⡻⣿⣿⡿⠋⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⢱⣿⣿⣿⣿⣿⣷⡍⠫⣾⣿⣿⣿⣿⣿⢟⣴⣌⡻⢿⣿⣿⣡⣿⣿⣿⣿⣮⣑⣻⠿⣿⣷⣆⣘⠻⣿⣿⠇⣾⣿⣶⣶⢀⣤⣭⣭⡀⢐⣀⣀⡈⢀⣀⣀⣀⣀⢈⣭⣭⣤⡄⣶⣶⣿⣿⡌⣿⣿⡿⠟⡀⣾⣿⢿⣟⣣⢵⣾⣿⣿⣿⣮⢿⣿⣿⢟⣫⣴⣝⣿⣿⣿⣿⣿⣷⠝⢫⣾⣿⣿⣿⣿⣿⡎⠋⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠻⣿⣿⣿⢏⣴⣿⣮⣟⢿⣿⣿⣫⣾⣿⣿⣿⣷⡌⣑⠿⣿⣿⣿⡿⣣⣿⣿⣿⣷⡎⣬⣻⣷⠌⡙⠸⢿⣿⣿⡿⢸⣿⣿⣿⡇⣿⣿⣿⣷⢸⣿⣿⣿⣿⢸⣿⣿⣿⣇⢸⣿⣿⡿⠗⠙⣩⣴⣾⣯⡔⣾⣿⣿⣿⣧⢻⣿⣿⣿⠿⣆⢩⣶⣿⣿⣿⣿⣮⢿⣿⡿⣟⣵⣿⣧⡹⢿⣿⣿⠿⠋⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠛⣵⣿⣿⣿⣿⣿⣷⡍⣱⢿⣿⣿⣿⣿⡟⣴⣿⣿⣦⣍⡛⠱⣿⣿⣿⣿⡿⣰⣿⣿⣿⣿⣇⣿⣦⣬⣝⠃⠛⠿⢿⡿⠇⣿⣿⣿⣿⠸⣿⣿⣿⣿⠸⣿⡿⡿⠛⠀⣩⣥⣴⣶⡞⣿⣿⣿⣿⣷⢹⣿⣿⣿⣿⠷⢛⣫⣴⣿⣿⣧⡻⣿⣿⣿⣿⡿⢗⡩⣾⣿⣿⣿⣿⣿⣮⠛⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠙⠿⣿⣿⣿⢫⣾⣿⣷⣭⣻⠿⢏⣼⣿⣿⣿⣿⣿⢫⣿⣶⣬⣝⡛⠣⢿⣿⣿⣿⡿⣸⣿⣿⣿⣿⢱⣿⣾⣶⣶⢠⣼⣭⣽⣍⢰⣍⣿⣡⣭⣀⣵⣴⣶⣿⣇⣿⣿⣿⣿⣷⢹⣿⣿⣿⣿⠇⢛⣛⣭⣶⣿⣮⢻⣿⣿⣿⣿⣷⡹⠿⣟⣭⣾⣿⣿⣞⢿⣿⣿⠿⠋⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠛⢱⣿⣿⣿⣿⣿⣿⢏⣬⣝⣻⢿⣿⣿⢣⣿⣿⣿⣿⣿⢏⣾⣷⣦⣭⣝⢃⡻⠿⠿⣿⡟⣼⣿⣿⣿⣿⢹⣿⣿⣿⣿⢸⣿⣿⣿⣿⡇⣿⣿⣿⣿⣿⢸⣿⡿⠿⣿⡋⣛⣭⣵⣶⣿⡎⣿⣿⣿⣿⣿⣯⢿⣿⡿⢿⣫⣵⡜⣿⣿⣿⣿⣿⣿⠧⠛⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠛⠿⣿⣿⢣⣾⣿⣿⣿⣷⣮⢉⣿⠿⣿⣿⣿⡟⣼⣿⣿⣿⣿⡿⣼⣿⣿⣷⣶⡆⣬⣭⣭⣝⣛⢘⣛⣟⣛⣛⢘⣛⣻⣛⣛⡃⣹⣯⣭⣭⣵⡄⣶⣿⣿⣿⣿⢹⣿⣿⣿⣿⣿⡸⣿⣿⣿⠿⣟⣊⢵⣾⣿⣿⣿⣿⣎⢿⣿⠿⠋⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠁⠻⢿⣿⣿⣿⣿⢣⣿⣿⣿⣶⣯⡟⢘⡿⢿⣿⣿⣿⢣⣿⣿⣿⣿⣿⢸⣿⣿⣿⣿⣏⣾⣿⣿⣿⣿⢸⣿⣿⣿⣿⣿⢹⣿⣿⣿⣿⡇⢿⣿⣿⣿⣿⡏⣿⣿⣿⡿⢿⣇⢹⣭⣶⣿⣿⣿⣮⢿⣿⣿⣿⡿⠟⠈⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠛⠻⠏⣿⣿⣿⣿⣿⣿⢡⣿⣿⣷⣶⣯⡍⣼⣛⡿⠿⣿⡇⣾⣿⣿⣿⣿⡇⣿⣿⣿⣿⣿⢸⣿⣿⣿⣿⣿⢸⣿⣿⣿⣿⣿⠸⡿⢿⣿⣻⣻⢨⣭⣶⣾⣿⣿⣧⢻⣿⣿⣿⣿⣿⠎⠛⠋⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠉⠛⠿⢿⢇⣿⣿⣿⣿⣿⣿⣱⣿⣿⣿⣿⣷⢀⣶⣿⣭⣭⣿⢁⣿⣿⣿⣿⣿⢸⣿⣿⣿⣿⣿⣨⣿⣿⣿⣿⣶⡆⣿⣿⣿⣿⣿⣧⢿⣿⣿⣿⣿⣿⡎⠿⠟⠛⠉⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠉⠙⠛⠻⠿⢇⣿⣿⣿⣿⣿⡿⣸⣿⣿⣿⣿⣿⢸⣿⣿⡿⣿⣿⢸⣿⣿⣿⣿⣿⡇⣿⣿⣿⣿⣿⣧⢿⣿⣿⣿⣿⣿⠼⠿⠟⠛⠉⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠉⠉⠛⠛⠃⠻⠿⠿⠿⣿⣿⢾⣿⣿⣷⡞⢛⢸⣿⣿⣿⣿⣿⡧⢿⠿⠿⠿⠿⠛⠘⠛⠋⠉⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
    </div>
</div>⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀